#header {
  background: url("/b/hero-bg.png"), rgba(0, 0, 0, 0.356);
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
  background-blend-mode: multiply;
  height: 1000px;
  @media screen and (max-width: 550px) {
    // height: 70vh;
    height: auto;
    padding-bottom: 100px;
    padding-top: 50px;
  }
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  .sideneon {
    width: 100%;
    height: 100%;
    object-fit: 100% 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    filter: drop-shadow(0px 0px 10px rgb(218, 33, 166));
    user-select: none;
    pointer-events: none;
    @media screen and (max-width: 1024px) {
      display: none;
    }
  }
  .linktree {
    display: flex;
    flex-direction: column;
    margin: 50px 0;
    gap: 1em;
    @media screen and (max-width: 550px) {
      width: 90%;
      margin: 20px auto;
    }
    .btn-sc {
      background: #ff50e530;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2em;
      padding: 0.55em 1em;
      border-radius: 1em;
      min-width: 350px;

      &:hover {
        background: #ff50e5;
      }
      img {
        width: 40px;
        height: 40px;
        object-fit: contain;
      }
      span {
        font-size: 2rem;
        @media screen and (max-width: 420px) {
          font-size: 1rem;
        }
      }
      @media screen and (max-width: 420px) {
        min-width: auto;
        width: 100%;
        span {
          font-size: 1.2rem;
        }
      }
    }
  }
  .palm {
    width: 200px;
    height: auto;
    position: absolute;
    filter: drop-shadow(0px 0px 10px rgb(218, 33, 166));
    @media screen and (max-width: 1024px) {
      width: 150px;
    }
    &.r {
      top: -250px;
      right: -2%;
      // scale: -1;
      transform: rotate(180deg);
      animation: sway 8s ease infinite alternate-reverse;
      transform-origin: bottom;
      @keyframes sway {
        from {
          rotate: 50deg;
        }
        to {
          rotate: 0deg;
        }
      }
    }
    &.l {
      bottom: -4%;
      left: -2%;
      rotate: 10deg;
      transform-origin: bottom;
      animation: sway 20s ease infinite alternate-reverse;

      @keyframes sway {
        from {
          rotate: 50deg;
        }
        to {
          rotate: 0deg;
        }
      }
    }
  }
  .logo {
    width: 700px;
    height: auto;

    animation: dancetobeat 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) infinite
      alternate-reverse;
    user-select: none;
    position: relative;
    z-index: 10;
    pointer-events: none;
    @media screen and (max-width: 768px) {
      width: 95%;
      margin: 0 auto;
    }
  }
  .wave {
    position: absolute;
    width: 600px;
    height: 600px;
    @media screen and (max-width: 1024px) {
      width: 300px;
      height: 300px;
    }
    object-fit: contain;
    &.l {
      top: -200px;
      left: -200px;
      @media screen and (max-width: 1024px) {
        top: -80px;
        left: -80px;
      }
    }
    &.r {
      top: -200px;
      right: -200px;
      @media screen and (max-width: 420px) {
        display: none;
      }
      @media screen and (max-width: 1024px) {
        top: -80px;
        right: -80px;
      }
    }
    animation:
      speen 50s infinite linear,
      dancetobeat 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) infinite
        alternate-reverse;
  }
  nav {
    color: white;
    display: flex;
    gap: 2em;
    margin: 2em 0;
    @media screen and (max-width: 420px) {
      flex-direction: column;
      width: 100%;
      gap: 0.5em;
      align-items: center;
    }
    .btn-main {
      font-size: 1.3rem;
      font-family: var(--fontch);
      padding: 0.15em 2em;
      display: flex;
      align-items: center;
      padding-top: 0.5em;
      border-radius: 1em 1em;
      @media screen and (max-width: 768px) {
        font-size: 1rem;
      }
      @media screen and (max-width: 420px) {
        text-align: center;
        font-size: 2.1rem;
      }
      &:hover,
      &.active {
        background: rgba(128, 128, 128, 0.165);
        scale: 1.1;
      }
    }
  }
}
.header-lines {
  width: 100%;
  height: 40px;
  background: linear-gradient(to right, #ff50e5, #2456a9);
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 420px) {
    height: 20px;
  }
  img {
    scale: 1.4;
  }
}
@keyframes dancetobeat {
  from {
    scale: 1;
  }
  // 20% {
  //   scale: 1.4;
  // }
  // 25% {
  //   scale: 0.9;
  // }
  // 50% {
  //   scale: 1.25;
  // }
  // 70% {
  //   scale: 0.9;
  // }
  to {
    scale: 1.02;
  }
}
